%%-*- mode: erlang -*-
{deps,
  [
 		{merl, ".*", {git, "git@github.com:flitbit/merl.git", "HEAD"}},
 		{etz, "0.1.1", {git, "git@github.com:flitbit/etz.git", {tag, "0.1.1"}}}
  ]
}.
{eunit_opts, [verbose]}.
%% Dependencies for the parse-transfrom ejson <-- jsoncodegen <-- json_transfrom
{eunit_first_files, ["src/jsoncodegen.erl", "src/json_transform.erl"]}.
{erl_opts, [
	no_debug_info,
	%, warn_missing_spec
	warnings_as_errors
	%, {parse_transform, jsoncodegen}
	]}.
